In [ ]:
# pandas time series

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
time = pd.date_range(start ='10/1/2022', end ='11/1/2022',freq ='Min')
print(time)

DatetimeIndex(['2022-10-01 00:00:00', '2022-10-01 00:01:00',
               '2022-10-01 00:02:00', '2022-10-01 00:03:00',
               '2022-10-01 00:04:00', '2022-10-01 00:05:00',
               '2022-10-01 00:06:00', '2022-10-01 00:07:00',
               '2022-10-01 00:08:00', '2022-10-01 00:09:00',
               ...
               '2022-10-31 23:51:00', '2022-10-31 23:52:00',
               '2022-10-31 23:53:00', '2022-10-31 23:54:00',
               '2022-10-31 23:55:00', '2022-10-31 23:56:00',
               '2022-10-31 23:57:00', '2022-10-31 23:58:00',
               '2022-10-31 23:59:00', '2022-11-01 00:00:00'],
              dtype='datetime64[ns]', length=44641, freq='T')

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
time = pd.date_range(start ='10/1/2022', end ='11/1/2022',freq ='Min')
df = pd.DataFrame(time, columns=['DateTime'])
print(df)

                 DateTime
0     2022-10-01 00:00:00
1     2022-10-01 00:01:00
2     2022-10-01 00:02:00
3     2022-10-01 00:03:00
4     2022-10-01 00:04:00
...                   ...
44636 2022-10-31 23:56:00
44637 2022-10-31 23:57:00
44638 2022-10-31 23:58:00
44639 2022-10-31 23:59:00
44640 2022-11-01 00:00:00

[44641 rows x 1 columns]

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
time = pd.date_range(start ='10/1/2022', end ='11/1/2022',freq ='Min')
df = pd.DataFrame(time, columns=['DateTime'])
df['DATA'] = np.random.randint(0,100,size=(len(time)))
print(df)
#df.head()
df.head(20)

                 DateTime  DATA
0     2022-10-01 00:00:00    30
1     2022-10-01 00:01:00    87
2     2022-10-01 00:02:00    67
3     2022-10-01 00:03:00    15
4     2022-10-01 00:04:00    32
...                   ...   ...
44636 2022-10-31 23:56:00    64
44637 2022-10-31 23:57:00     0
44638 2022-10-31 23:58:00    24
44639 2022-10-31 23:59:00    17
44640 2022-11-01 00:00:00    41

[44641 rows x 2 columns]

              DateTime  DATA
0  2022-10-01 00:00:00    30
1  2022-10-01 00:01:00    87
2  2022-10-01 00:02:00    67
3  2022-10-01 00:03:00    15
4  2022-10-01 00:04:00    32
5  2022-10-01 00:05:00     1
6  2022-10-01 00:06:00    34
7  2022-10-01 00:07:00    81
8  2022-10-01 00:08:00    82
9  2022-10-01 00:09:00    14
10 2022-10-01 00:10:00    94
11 2022-10-01 00:11:00    74
12 2022-10-01 00:12:00    38
13 2022-10-01 00:13:00    56
14 2022-10-01 00:14:00    57
15 2022-10-01 00:15:00    54
16 2022-10-01 00:16:00    41
17 2022-10-01 00:17:00    16
18 2022-10-01 00:18:00    77
19 2022-10-01 00:19:00    27